body {
  margin: 0;
  color: #82a5ca;
  /* background-image: url("./images/galaxy.webp"); */
  font-family: "Orbitron", sans-serif;
  text-align: center;
}

.hero-section {
  background-image: url("./images/galaxy.webp");
  background-size: cover;
  padding: 10px 0 40px 0;
}

#title {
  text-shadow: 0px 0px 4px #514f4f;
}
#spacex {
  width: 200px;
}

#cta {
  border-bottom: 4px solid white;
}

.btn {
  cursor: pointer;
  font-family: inherit;
  width: 100px;
  background: white;
  color: #82a5ca;
  padding: 7px 14px;
  border: none;
  font-weight: 800;
}
